﻿<div class="modal-header">
    <h4 class="modal-title">Создание нового товара</h4>
</div>
<form role="form" name="productForm" ng-submit="saveProduct()">
    <div class="modal-body">
        <div class="form-horizontal" id="product">
            <div class="row">
                <div class="form-inline col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <label for="Name" class="control-label">Название:</label>
                    <input name="Name" type="text" ng-required="true" class="form-control text-right" ng-model="currentProduct.Name" />
                </div>
            </div>

            <div class="row">
                <div class="form-inline col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <label for="Description" class="control-label">Описание:</label>
                    <input name="Description" type="text" ng-required="true" class="form-control text-right" ng-model="currentProduct.Description" rows="5" />
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Сохранить</button>
        <button type="button" class="btn btn-warning" ng-click="canselModal()">Отмена</button>
    </div>
</form>


