﻿<div class="portlet">
    <div id="portlet" class="portlet-content" ui-grid-auto-resize style="height: 400px" ui-grid="gridStore">
        <div class="grid-msg-overlay" ng-show="loadingInfo">
            <div class="msg">
                <span>
                    Загрузка данных...
                    <i class="fa fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
    </div>
    <div style="float: right; clear: both;">
        <button class="btn btn-success" uib-tooltip="Добавить магазин" tooltip-placement="left" ng-click="openModalAddStore(null)">Новый магазин</button>
  </div>

</div>