﻿<div class="modal-header">
    <h4 class="modal-title">Создание нового магазина</h4>
</div>
<form role="form" name="storeForm" ng-submit="saveStore()">
    <div class="modal-body">
        <div class="form-horizontal" id="store">
            <div class="row">
                <div class="form-inline col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <label for="Name" class="control-label">Название:</label>
                    <input name="Name" type="text" ng-required="true" class="form-control text-right" ng-model="currentStore.Name" />
                </div>
            </div>
 
            <div class="row">
                <div class="form-inline col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <label for="Address" class="control-label">Адрес:</label>
                    <input name="Address" type="text" ng-required="true" class="form-control text-right" ng-model="currentStore.Address" />
                </div>
            </div>

            <div class="row">
                <div class="form-inline col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <label for="Days" class="control-label">Дни работы: <span title="Просто введите дни недели через пробел в формате 'Пн Вт Ср Чт Пт Сб Вс'.">?</span> </label>
                    <input name="Days" type="text" ng-required="true" class="form-control text-right" ng-model="currentStore.Days" />
                </div>
            </div>
            <div class="row">
                <div class="form-inline col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <label for="TimeFrom" class="control-label">Время начала работы:</label>
                    <input name="TimeFrom" type="time" placeholder="HH:mm:ss" min="08:00:00" max="24:00:00" ng-required="true" class="form-control text-right" ng-model="currentStore.TimeFrom" />
                </div>
            </div>
            <div class="row">
                <div class="form-inline col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <label for="TimeTo" class="control-label">Время окончания работы:</label>
                    <input name="TimeTo" type="time" placeholder="HH:mm:ss" min="08:00:00" max="24:00:00" ng-required="true" class="form-control text-right" ng-model="currentStore.TimeTo " />
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Сохранить</button>
        <button type="button" class="btn btn-warning" ng-click="canselModal()">Отмена</button>
    </div>
</form>


