﻿<div class="modal-header">
    <h4 class="modal-title">Список товаров магазина "{{entity.Name}}"</h4>
</div>
<div class="modal-body">
    <div ui-grid="gridProducts" ui-grid-auto-resize ui-grid-resize-columns>
        <div class="grid-msg-overlay" ng-show="loadingInfoData">
            <div class="msg">
                <span>
                    Загрузка данных...
                    <i class="fa fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" uib-tooltip="Добавить товар" tooltip-placement="left" ng-click="openModalAddProduct(null)">Новый товар</button>
</div>
