﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <title>StoreManager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular", "~/Angular/main.js", "~/bundles/jquery", "~/bundles/bootstrap")
</head>

<body ng-app="Web">
    <div class="wrapper container">
        @RenderBody()
        @RenderSection("scripts", required: false)
    </div>
    <webapp-footer></webapp-footer>
    @RenderSection("scripts", required: false)
</body>

</html>