﻿<div style="text-align: center;">
    <button type="button" class="btn btn-danger btn-my glyphicon glyphicon-trash" uib-tooltip="Удалить запись" tooltip-placement="bottom-right" ng-click="grid.appScope.deleteProduct(row.entity)"></button>
</div>
