﻿<div style="text-align: center;">
    <button class="btn btn-info btn-my glyphicon glyphicon-plus" uib-tooltip="Добавить магазин" tooltip-placement="left" ng-click="grid.appScope.openModalAddStore(null)"></button>
</div>
