﻿<div style="text-align: center;">
    <button type="button" class="btn btn-my btn-info glyphicon glyphicon-list-alt" uib-tooltip="Список товаров" tooltip-placement="bottom-right" ng-click="grid.appScope.openModalProducts(row.entity)"></button>
</div>
